{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load account %}

{% block title %}Redefinir senha{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="col-lg-auto">
        <h1>Redefinir senha</h1>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>
            Esqueceu sua senha? Insira seu endereço de e-mail abaixo, e lhe enviaremos um e-mail permitindo que você
            a redefina.
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Redefinir minha senha" />
        </form>

        <p>
            Entre em contato conosco se tiver problemas para redefinir sua senha.</p>
    </div>
</div>
{% endblock %}