{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Alterar senha{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="col-lg-auto">
        <h1>{% if token_fail %}Token incorreto{% else %}Alterar senha{% endif %}</h1>

        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor
            solicitar uma <a href="{{ passwd_reset_url }}">nova redefinição de senha</a>.</p>
        {% else %}
        {% if form %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="action" value="Alterar senha" />
        </form>
        {% else %}
        <p>Sua senha foi alterada.</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}