:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

section{
    padding:2rem 5%;
}

section:nth-child(even){
    background:#eee;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: none;
}

/* Modo Claro */
.light-mode {
    background-color: #ffffff;
    color: #000000;
}

/* Modo Escuro */
.dark-mode {
    background-color: #121212;
    color: #ffffff;
}


.heading {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .heading {
        font-size: 2rem;
    }
}

.navbar-nav .nav-link.active {
    background-color: var(--green);
    color: #fff !important;
    border-radius: .25rem;
}


/* MENU */

.menu.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.menu.btn:hover{
    background: var(--green);
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .box-container .box .image{
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.4rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding: 0 2rem 2rem;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.4rem;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.0rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.menu .box-container .box,
.menu.btn {
    box-shadow: var(--box-shadow);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu .box-container .box:hover,
.menu.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.2);
}

/* Modo Escuro para o Menu */
body.dark-mode .menu .box-container .box {
    background-color: #333; /* Fundo cinza escuro */
    color: #fff; /* Texto branco */
    border: 1px solid #444; /* Borda cinza mais clara */
}

body.dark-mode .menu .box-container .box .content h3 {
    color: #fff; /* Cor do título no modo escuro */
}

body.dark-mode .menu .box-container .box .content p {
    color: #ccc; /* Texto com cor mais suave no modo escuro */
}

body.dark-mode .menu .btn-info {
    background-color: #007bff;
    border-color: #007bff;
}

body.dark-mode .menu .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

body.dark-mode .menu .btn-success {
    background-color: #198754;
    border-color: #198754;
}

/*FOOTER*/
.footer {
    transition: background-color 0.5s, color 0.5s;
}

.dark-mode .footer {
    background-color: #1a1a1a; /* cor de fundo do footer em dark mode */
    color: #ffffff; /* cor do texto em dark mode */
}

.dark-mode .footer a {
    color: #ffffff; /* cor dos links em dark mode */
}

.light-mode .footer {
    background-color: #f8f9fa; /* cor de fundo do footer em light mode */
    color: #6c757d; /* cor do texto em light mode */
}

.light-mode .footer a {
    color: #000000; /* cor dos links em light mode */
}

.footer .box-container .box h3 {
    font-size: 1.8rem;
    color: var(--black);
}

.footer .box-container .box a {
    color: var(--black);
    font-size: 1.2rem;
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer .box-container .box i {
    margin-right: 0.5rem;
    color: var(--green);
}

.copyright-bg {
    background-color: rgba(0, 0, 0, 0.05); /* Altere para a cor que desejar */
    transition: background-color 0.5s;
}

.dark-mode .copyright-bg {
    background-color: #1a1a1a; /* Cor de fundo no modo escuro */
}

/* Bandeiras */
.iti__flag {
    background-color: #f8f8f8; /* Cor de fundo personalizada */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Para links e outros elementos */

.dark-mode .w3-card-4 {
    background-color: #333; /* Cor de fundo cinza para o modo escuro */
    color: #fff; /* Cor do texto para o modo escuro */
    border: 1px solid #444; /* Opcional: uma borda um pouco mais clara */
}

.dark-mode .form-text {
    color: #fff;
    border: 1px solid #444;
}

.dark-mode .form-text:focus {
    outline: none;
    background-color: #333;
}

/*PERFIL*/
.dark-mode .card {
    background-color: #495057; /* Cor do cartão no modo escuro */
    border-color: #6c757d; /* Borda do cartão no modo escuro */
}

.dark-mode .card-header,
.dark-mode .text-muted,
.dark-mode .text-secondary,
.dark-mode p{
    color: #e0e0e0 !important; /* Adicione !important para forçar a cor */
}

.dark-mode a {
    color: deepskyblue;
}

.dark-mode .card-header {
    background-color: #444444; /* Cor do cabeçalho no modo escuro */
    color: #FFFFFF;
}


.dark-mode .text-muted {
    color: #FFFFFF; /* Texto desbotado no modo escuro */
}

.dark-mode .list-group-item {
    background-color: #495057; /* Fundo dos itens da lista no modo escuro */
    border-color: #6c757d; /* Borda dos itens da lista no modo escuro */
}

/*CARRINHO*/
body.dark-mode .table {
    background-color: #495057; /* Cor de fundo da tabela */
    color: #ffffff; /* Texto claro na tabela */
}

body.dark-mode .table th {
    background-color: #212529; /* Cor do cabeçalho da tabela */
    color: #ffffff; /* Texto claro no cabeçalho */
}

body.dark-mode .table td {
    background-color: #495057; /* Cor de fundo das células da tabela */
    border-color: #6c757d; /* Borda das células */
}

body.dark-mode .btn-info {
    background-color: #007bff; /* Cor do botão de atualizar */
    border-color: #007bff; /* Borda do botão de atualizar */
}

body.dark-mode .btn-danger {
    background-color: #dc3545; /* Cor do botão de remover */
    border-color: #dc3545; /* Borda do botão de remover */
}

body.dark-mode .btn-primary {
    background-color: #0d6efd; /* Cor do botão continuar comprando */
    border-color: #0d6efd; /* Borda do botão continuar comprando */
}

body.dark-mode .btn-success {
    background-color: #198754; /* Cor do botão finalizar compra */
    border-color: #198754; /* Borda do botão finalizar compra */
}
