{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block title %}Adicionar Endereço{% endblock title %}

{% block content %}
<div class="container my-3 align-items-center">
    <div class="col-lg-auto">
        {% csrf_token %}
        {% crispy form %}
        <a class="align-middle" href="{% url 'pages:address_list' %}">Voltar</a>
    </div>
</div>
{% endblock %}

{% block script %}
    <!-- imask -->
    <script src="{% static 'js/imask/dist/imask.min.js' %}"></script>
    <script src="{% static 'js/endereco-form.js' %}"></script>
{% endblock script %}