<div class="col-lg-auto">
    <nav>
        <ul class="pagination justify-content-end">
            {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page.previous_page_number }}" aria-label="Anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}

            {% if page.paginator.num_pages <= 10 %}
                {% for pagina in page.paginator.page_range %}
                    <li class="page-item {% if page.number == pagina %}active{% endif %}">
                        <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ pagina }}">{{ pagina }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% if page.number > 3 %}
                    <li class="page-item">
                        <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1">1</a>
                    </li>
                    {% if page.number > 4 %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                {% endif %}

                {% for pagina in page.paginator.page_range %}
                    {% if pagina >= page.number|add:"-2" and pagina <= page.number|add:"2" %}
                        <li class="page-item {% if page.number == pagina %}active{% endif %}">
                            <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ pagina }}">{{ pagina }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page.number < page.paginator.num_pages|add:"-2" %}
                    {% if page.number < page.paginator.num_pages|add:"-3" %}
                        <li class="page-item disabled">
                            <span class="page-link">...</span>
                        </li>
                    {% endif %}
                    <li class="page-item">
                        <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page.paginator.num_pages }}">{{ page.paginator.num_pages }}</a>
                    </li>
                {% endif %}
            {% endif %}

            {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% for key, value in request.GET.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page.next_page_number }}" aria-label="Próxima">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
