{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil - {{ user_data.username }}
{% endblock title %}

{% block content %}
<div class="container py-5">
    <div class="row row-profile">
        <!-- Sidebar do Perfil -->
        <div class="col-md-3">
            <div class="card text-center">
                <img src="{% static 'images/no_image.jpg' %}" class="card-img-top rounded-circle mx-auto mt-3" alt="Imagem de perfil" style="width: 150px;">
                <div class="card-body">
                    <h5 class="card-title">{{ user_data.username }}</h5>
                    <p class="card-text">{{ user_data.email }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url 'account_change_password' %}"><i class="bi bi-key"></i> Alterar Senha</a></li>
                    {% if user_data.is_staff %}
                    <li class="list-group-item"><a href="{% url 'admin:index' %}"><i class="bi bi-key"></i> Site Administrativo</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- Conteúdo Principal -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <h4>Detalhes do Perfil</h4>
                </div>
                <div class="card-body">
                    {% for label, value in profile_details %}
                    <div class="row mb-3 align-items-center">
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">{{ label }}</p>
                        </div>
                        <div class="col-sm-8">
                            <p class="text-secondary mb-0">{{ value }}</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row mb-3 align-items-center">
                        <div class="col-sm-4">
                            <p class="text-muted mb-0">VIP</p>
                        </div>
                        <div class="col-sm-8">
                            {% if user_data.vip_info %}
                                <p class="text-secondary mb-0">{{ user_data.vip_info|linebreaksbr }}</p>
                                <a href="{% url 'pages:address_list'  %}" class="text-secondary mb-0"> Ver/Alterar plano VIP </a>
                            {% else %}
                                <a href="{% url 'pages:address_add' %}" class="text-secondary mb-0">Você não é membro VIP, adiquira um plano clicando aqui</a>
                            {% endif %}
                        </div>
                    </div>
                    {% url 'pages:phone_list' as url_phone_list %}
                    {% include 'partials/profile_field.html' with element="Telefone" label="Telefone selecionado" field=user_data.phone_number.number url=url_phone_list %}
                    {% url 'pages:address_list' as url_address_list %}
                    {% include 'partials/profile_field.html' with element="Endereço" label="Endereço selecionado" field=user_data.address.full_address|linebreaksbr url=url_address_list %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
